*{
    font-family: Arial, Helvetica, sans-serif;
}

div#area{
    background-color: rgb(13, 163, 13);
    color: honeydew;
    /* left: 0px;
    top: 0px; */
    width: 200px;
    height: 200px;

    /* border-radius: 100%; */
}

div#area h1{
    line-height: 200px;
    text-align: center;
}